MSSQL_SA_PASSWORD=ChargeNet77@
MSSQL_PID=Developer

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

CHARGENET_CONNECTION_STRING=Server=sqlserver,1433;Database=ChargeNet;User Id=sa;Password=ChargeNet77@;TrustServerCertificate=true

JWT_KEY=ChangeThisToAtLeast32CharactersLong
JWT_ISSUER=ChargeNet
JWT_AUDIENCE=ChargeNetUsers
JWT_EXPIRY_MINUTES=60

STRIPE_SECRET_KEY=sk_test_51Te0R70LfutqGEhxx9b2moJF00QrZEcQx0Vr92N1ooAL7pG58Jejqi5zLaYSFUFRZIYXdA7N6v4iyhFnZoovSiJP00qoxrQtOg
STRIPE_WEBHOOK_SECRET=whsec_397c76ca6129b1be96b0aedb7e61de2d01a529a5a1019fd595d5966ff79d78f6
