MSSQL_SA_PASSWORD=Passw0rd!
MSSQL_PID=Developer

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

CHARGENET_CONNECTION_STRING=Server=sqlserver,1433;Database=ChargeNet;User Id=sa;Password=Passw0rd!;TrustServerCertificate=true

JWT_KEY=ChangeThisToAtLeast32CharactersLong
JWT_ISSUER=ChargeNet
JWT_AUDIENCE=ChargeNetUsers
JWT_EXPIRY_MINUTES=60

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
